extends ../layouts/layout

block content
  p#notice

  each n in [{{{keys}}}]
    p
      strong #{n}:
      span #{ {{model}}.name}

  a(href='/{{models}}/#{ {{model}}._id}/edit') Edit
  span |
  a(href='/{{models}}') Back