extends ../layouts/layout

block content
  p#notice

  p
    strong Name:
    span #{ {{model}}.name}
  p
    strong Age:
    span #{ {{model}}.age}

  a(href='/{{models}}/#{ {{model}}._id}/edit') Edit
  span |
  a(href='/{{models}}') Back